
server = true
bootstrap_expect = {{ consul_bootstrap_expect }}     # Number of Consul servers expected in the datacenter (recommended: 3, 5 or 7)
                                                     # Must be consistent all across all servers in dc
 
advertise_addr = "{{ consul_advertise_addr }}"                    # IP of the machine
 
client_addr = "0.0.0.0"                              # Choose any address to designate an interface to which Consul services will bind, including HTTP and DNS server
 
connect {                                            # Provides service-to-service connection auth (Consul service mesh)
  enabled = true                                     # Must be enabled on all servers to work
}
 
addresses {                                          # Address that Consul will bind gRPC API to
  grpc = "127.0.0.1"
}
 
ports {
  grpc_tls  = -1                                     # Port gRPC API. Recommended 8502 convention
  #grpc  = 8502
}

{% if consul_webui %}
ui_config {                                          # Enable the use of UI in this server
  enabled = true                                     # Consider running on some selected hosts, not all of them
}
{% endif %}

auto_encrypt {
  allow_tls = true
}

{% if consul_agent_token != "" %}
acl {
  tokens {
    agent  = "{{ consul_agent_token }}"
  }
}
{% endif %}
 